.pytest_cache/*
.ipynb_checkpoints/
3D_print/*
Figures/*
Meshes/*
.idea/*
/.ipynb_checkpoints/
/Examples/Topopt/*.vtk
/FEMOL/__pycache__
DEV_Notebook.ipynb
test/__pycache__
.ipynb_checkpoints
.DS_Store
Results
*.npy
__pycache__
.ipynb
DATA_Notebook.ipynb
FEMOL/*.pyc
T11_results_fab/
T31_results_fab/
TOM_soundboards.png
gif_prez
*.stl
*.png
DEV_Element_class.ipynb
GuitarSimpVibe_script_maker.py
Notebooks/
References/
run_scripts.sh
